asn1crypto==0.24.0
bcrypt==3.1.4
beautifulsoup4==4.6.0
bs4==0.0.1
certifi==2017.11.5
cffi==1.11.4
chardet==3.0.4
cryptography==2.1.4
feedparser==5.2.1
idna==2.6
paramiko==2.4.0
pyasn1==0.4.2
pycparser==2.18
PyNaCl==1.2.1
pysftp==0.2.9
PyYAML==3.12
requests==2.18.4
six==1.11.0
urllib3==1.22
